/* CSS Document */
#header{
    width: 100%;
    background-color:mediumaquamarine;
    padding-bottom:8px;
    padding-top:8px;
    }
    
h1{
    font-size: 250% !important;
    text-align: center;
	}
.menu{
        width: 100%;
        height: 47px;
        background-color: #c7f9de;
        padding-top: 10px;
        text-align: center;
    }
.a_menu {
        padding-top: 15px;
        padding-bottom: 20px;
        padding-left: 100px;
        padding-right: 100px;
        font-size: 150% !important;
        text-decoration: none !important;
        color: black !important;
    }
    a.a_menu:hover{
        background-color: mediumaquamarine;
        text-decoration: none;
    }
body{
        margin: 0px !important;
        /* background-color:mintcream; */
    }
p, span {
	margin:0;
	padding:0; }

form{
    padding-left: 45px;
    }
 
input { font:12px arial; }
 
a {
	color:#0000FF;
	text-decoration:none; }
 
	a:hover { text-decoration:underline; }
 
#wrapper, #loginform {
	margin:0 auto;
	padding-bottom:25px;
	background:#a2e8aa;
	width:504px;
    width: 70%;
    float: left;
	border:1px solid black; 
 }
 
#loginform { padding-top:18px; }
 
	#loginform p { margin: 5px; }
 
#chatbox {
	text-align:left;
	margin:0 auto;
	margin-bottom:25px;
	padding:10px;
	background:#fff;
	height:370px;
	/* width:430px; */
    width: 90%;
	border:1px solid mediumaquamarine;
	overflow:auto; 
 }
 
#usermsg {
	width:750px;
	/* border:1px solid #ACD8F0;  */
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
  }

#submitmsg{
    width: 105px;
    padding: 10px;
    background: mediumaquamarine;
    border: unset;
    cursor: pointer;
}
#submit { width: 60px; }
 
.error { color: #ff0000; }
 
#menu { padding:12.5px 25px 12.5px 25px; }
 
.welcome { float:left; }
 
.logout { float:right; }
 
.msgln { margin:0 0 2px 0; }

#userlist{
    float: right;
    width:450px;
    height: 540px;
	border:1px solid black; 
    background:#a2e8aa;
}
#userbox{
    margin: 20px;
    float: right;
    padding: 20px;
    width:350px;
    height: 450px;
	border:1px solid black; 
    background:white;
    overflow:auto; 
}